<%= form_with(model: attendance, local: true, class: 'attendance-form') do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <div class="field">

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <div class="field">
          <%= form.label :movimiento %><br>
          <%= form.collection_select(:reason_for_non_attendance_id, ReasonForNonAttendance.all, :id, :motivo,
                              {
                                include_blank: false,
                                prompt: "Selecciona un movimiento de inasistencia"
                              },
                              class: 'form-control attendance-select'
                            )
          %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group inicio">
        <div class="field">
          <%= form.label :inicio %><br>
          <%= form.date_select :inicio, :order => [:day, :month, :year ] %>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="form-group termino">
        <div class="field">
          <%= form.label :termino %><br>
          <%= form.date_select :termino, :order => [:day, :month, :year ] %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <div class="field">

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="field">

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <div class="field m-t-sm">
            <%= link_to 'Cancelar', root_path, class:"btn btn-outline-salmonvue m-r-md" %>
            <%= form.submit "Guardar", class:"btn btn-salmonvue guardar" %>
        </div>
      </div>
    </div>
  </div>


<% end %>